.text-w{
    color:white
}

.bla{
    color: black;
  } 

.b{
    
    background-color: #18151F;
    border-radius: 5px;
}

.cards{
  background-color: #18151F;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
  height: 300px;
  width:200px;
  
}

.error_containers{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  height: 80%;
  
}

.error_details{
  padding: 20px 10px ;
  height: 20%;
  border-radius: 0 0 20px 20px;
}

.error_details>p{
  color: white;
}

.wh{
  color: white;
}

img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.details{
  padding: 20px 10px ;
  height: 60%;
  border-radius: 0 0 20px 20px;
  /* border: solid white; */
}
.details>h3{
  color: #ffffff;
  font-weight: 100;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>p{
  color: white;
  font-size: 15px;
  /* line-height: 15px; */
  font-weight: 400;
  
}
.para{
  margin-top: 10px;
  margin-bottom: 10px;
  /* border:  solid white; */
  
}

.para>p{
  color: white;
}
/* .containers:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
} */
.containers{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  height: 40%;
}
